.MovieInfo {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.MovieInfo img {
    width: 250px;
    height: 380px;
    margin-right: 40px;
    border-radius: 15px;
}

.description {
    width: 500px;
}